<!DOCTYPE html>
<html>

<head>
  <style>
    @charset "UTF-8";
    @import url('http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin');

    body {
      font-family: Ubuntu;
    }

    .text-center {
      text-align: center !important;
      font-weight: lighter !important;
    }
  </style>
</head>

  <body>
    <div>
      <h2 class="text-center">Desculpe, mas algo deu errado...</h2>
      <br>
      <h3 class="text-center">Por favor tente novamente mais tarde.</h3>
    </div>
  </body>

</html>